h1 a{
	background-image: url('../assets/webforia-logo.png') !important;
}
#login {
    width: 427px;
}
body.login div#login form#loginform {
    padding: 30px;
    border-radius: 5px;
}
body.login div#login form#loginform {
    box-shadow: none;
    background: #fff;
    border: 1px solid #ECEFF3;
}
body.login div#login form#loginform p label {
    font-size: 15px;
    margin-bottom: 15px;
    color: rgba(41, 47, 56, 0.8);
}
body.login div#login form#loginform .input {
    box-shadow: none;
    background: #fff;
    border: 1px solid #ECEFF3;
    font-size: 17px;
    padding: 11px 14px;
    border-radius: 5px;
}
body.login div#login form#loginform .input:focus,
body.login div#login form#loginform .input:active{
	border-color: #3273dc;
	box-shadow: 0 0 0 .125em rgba(50,115,220,.25);
}
body.login div#login form#loginform p.submit input#wp-submit {
    background-color: #3273dc;
    border-color: transparent;
    color: #fff;
    padding-left: 35px;
    padding-right: 35px;
    height: 38px;
    font-size: 15px;
}